.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #B08553;
}
.parent .centerbox{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border-radius: 10%;
    background-color: white;
}

.parent .centerbox .lock{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.parent .centerbox img{
    height: 100px;
    width: 100px;
    background-color: white;
}
h2 {
    margin-top: 10%;
    margin-bottom: 2%;
}

.parent .centerbox .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}
.parent .centerbox .email{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-right: 6%;
}
.parent .centerbox .email img{
    height: 32px;
    width: 48px;
}
.parent .centerbox .email input{
    border: 2px solid #000000;
}
.parent .centerbox .submit{
    display: flex;
    padding-top: 2%;
    justify-content: center;
}
.parent .centerbox .submit button{
    background-color: greenyellow;
    border-color: black;
    color: black;
}
.parent .centerbox .back{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.parent .centerbox .back a{
    color: black;
}

.parent .centerbox form{
    flex-direction: column;
}

.parent .centerbox .password{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-right: 6%;
}
.parent .centerbox .confirm-password{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-right: 6%;
}


.parent .centerbox .error-message{
    color: red;
    display: flex;
    align-items: center;
}

.parent .centerbox .otp-field{
    display: flex;
    justify-content: center;
}

.submit button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  padding: 0 15px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit button:hover {
  background-color: #fff;
}

.submit button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .submit button {
    min-width: 110px;
    padding: 0 25px;
  }
}