.slideshow-container {
    position: relative;
    width: 100%;
    height: 40vh;

}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    display: block;
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 256px; 
    object-fit: cover; 
}  