
.app {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  
  .product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  
  .product-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  